* {
    margin: 0;
    padding: 0;

}

.Fundo {
    background-image: -o-linear-gradient(45deg, black, white);
    height: 100%;
    color: gray;
    font-family: Arial;
}
.Calculadora {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
